.App {
  text-align: center;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: black;
  text-align: center;
  color: white;
}
.form-group,.btn{
  margin-top:10px
}
label,.label{
  font-weight: bold;
}
.user-class{
  color:white;
  text-align: right;
}
.form-inline{
  margin-left: 1180px;
}
.out-div{
  text-align: center;
    margin-top: 100px;
    font-weight: bold;
    font-size: x-large;
}
.user{
  float:right;
}